<h1>StaticPages#top</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>

<% content_for(:title, "ログイン") %>

<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>ECSの説明</h1>
  </div>
</div>
